form {
    position: relative;
    left: 31%;
    margin-bottom: 20px;
    width: 500px;
}
label {
  font-size: 16px;
  margin-bottom: 0.5rem;
}
.todo-input {
  border-radius: 5px;
  width: 370px;
  padding: 12px 10px;
  border: none;
  outline: none;
  box-shadow: 1px #777;
}
.todo-completed {
  text-decoration: line-through;
}
.add-btn {
  margin: 0 0.7rem;
  padding: 12px 20px;
  border: none;
  outline: none;
  background-color: #53a353;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}
.delete-btn {
  margin: 0 0.5rem;
  cursor: pointer;
  float: right;
  font-weight: bold;
  color: red;
}
/* .todo-div {
    border-bottom: 2px solid green;
} */
.todo-card {
    box-shadow: rgba(183, 205, 214, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 30%;
    position: absolute;
    left: 36%;
    backdrop-filter:blur(15px);
}
.todo-card li {
    list-style-type: none;
    border: 0.5px solid #E1E1C2;
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(183, 205, 214, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}